@import "tailwindcss";

:root {
  font-family: 'Times, serif';
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.pageContainer,
.authContainer {
  display: flex;
  width: 100vw;
  min-height: calc(100vh);
}

.pageContainer {
  min-height: calc(100vh - 80px - 28px - 334px);
  padding: 0px 8px;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-message {
  animation: slideIn 0.3s ease-out forwards;
}

.typing-dot {
  width: 6px;
  height: 6px;
  background-color: #0d9488;
  border-radius: 50%;
  display: inline-block;
  animation: typing-bounce 1.4s infinite ease-in-out both;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing-bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
  }
}

/* Стили для текста внутри Markdown */
.prose p {
  margin-bottom: 8px;
}

.prose ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 8px;
}

.prose strong {
  font-weight: 600;
  color: #0d9488;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */